<h2>{$data['greeting']} {$data['userName']},</h2>
děkujeme za váš zájem o aplikaci Klienti.cz. Pro dokončení registrace je potřeba kliknout na aktivační odkaz uvedený níže. Bez kliknutí na tento odkaz nebude Váš účet aktivován.<br>
<br>
Nyní klikněte na tento odkaz a poté se můžete přihlásit zvoleným jménem a heslem:<br>
<a href="{$baseUrl}{$data['activateLink']}">{$baseUrl}{$data['activateLink']}</a>
<br><br>
tým Klienti.cz