{if $bscOff == FALSE}
    {*snippetArea bscArea*}
        {include '../../../templates/baseListchild.latte'}
    {*/snippetArea*}
    {snippet emailCtrl}
        {control email}
    {/snippet}
    {snippet textUseControl}
        {control textsUse}
    {/snippet}
{/if}

</div> <!--- end of <div class="panel panel-default"> --->

{snippet createDocs}

{if isset($unMoHandler['status']) && $unMoHandler['status'] == TRUE && $unMoHandler["id_modal"] == 'createStoreOutUpdateModal'}
    <!-- Large modal -->
    <div id="createStoreOutUpdateModal" class="modal fade my-modal-dialog" tabindex="-1" role="dialog" >
        <div class="modal-dialog modalMyEmail"  >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabelFromComm">{_Aktualizace_výdejek_ze_zakázky}</h4>
                    <div class="mySeparator2"></div>
                    <p class="text">{_Označte_položky_které_mají_být_ve_výdejce_Položky_které_nejsou_označené_budou_z_výdejky_odebrány_Výdejka_samotná_nebude_smazána_ani_když_bude_celá_prázdná}</p>
                </div>
                <div class="panel-body">
                    {var $storeOutDisabled = $presenter->storeOutDisabled()}
		            {*if !$storeOutDisabled*}
                        {snippet itemsForStoreUpdate}
                            <strong>{_Prodejní_položky}</strong>
                        {control listgridItemsSelSelect, $presenter->filterStoreUpdate }
                            <strong>{_Nákladové_položky}</strong>
                        {control listgridItemsSelect, $presenter->filterStoreUpdate}

                            <div class="mySeparator2">
                            </div>
                            <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" onclick="$('#createStoreOutUpdateModal').modal('hide');">{_Zpět}</button>
                            </div>
                            <div class="col-md-2">
                                <button id="commissionToStoreOutUpdateDN" type="button" class="btn btn-success"  data-history="false"
                                        title={_Vybrané_položky_budou_použity_k_aktualizaci_výdejek_a_dodacích_listů,_které_již_byly_vytvořeny}>
                                    {_Aktualizovat_dodací_listy}</button>
                            </div>
                            <div class="col-md-3">
                                <button id="commissionToStoreOutUpdate" type="button" class="btn btn-success"  data-history="false"
                                        title={_Vybrané_položky_budou_použity_k_aktualizaci_výdejek_které_již_byly_vytvořeny}>
                                    {_Aktualizovat_výdejky}</button>
                            </div>
                            </div>
                        {/snippet}
                    {*else*}
                        {*<strong>{_Výdejky není možno aktualizovat} {$storeOutDisabled}</strong>*}
                    {*/if*}
                </div>
            </div>
        </div>
    </div>
{/if}

{if isset($unMoHandler['status']) && $unMoHandler['status'] == TRUE && $unMoHandler["id_modal"] == 'createStoreOutModal'}
    <div id="createStoreOutModal" class="modal fade my-modal-dialog" tabindex="-1" role="dialog" >
        <div class="modal-dialog modalMyEmail"  >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabelFromComm">{_Nová_výdejka_ze_zakázky}</h4>
                    <div class="mySeparator2"></div>
                    <p class="text">{_Označte_položky_které_mají_být_v_nové_výdejce_Jsou_zde_zobrazeny_pouze_položky_které_zatím_do_žádné_výdejky_nebyly_přidány}</p>
                </div>
                <div class="panel-body">
                    {var $storeOutDisabled = $presenter->storeOutDisabled()}
		            {*if !$storeOutDisabled*}
                        {snippet itemsForStore}
                            <strong>{_Prodejní_položky}</strong>
                        {control listgridItemsSelSelect, $presenter->filterStoreCreate }
                            <strong>{_Nákladové_položky}</strong>
                        {control listgridItemsSelect, $presenter->filterStoreCreate}

                            <div class="mySeparator2">
                            </div>
                            <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" onclick="$('#createStoreOutModal').modal('hide');">{_Zpět}</button>
                            </div>
                            <div class="col-md-2">
                                <button id="commissionToStoreOutDN" type="button" class="btn btn-success"  data-history="false" title={_Z_vybraných_položek_vytvoří_výdejku_a_dodací_list}>{_Vytvořit_dodací_list}</button>
                            </div>
                            <div class="col-md-3">
                                <button id="commissionToStoreOut" type="button" class="btn btn-success"  data-history="false" title={_Z_vybranýcH_položek_vytvoří_výdejku}>{_Vytvořit_výdejku}</button>
                            </div>
                        </div>
                        {/snippet}
                    {*else*}
                      {*  <strong>{_Výdejku není možno vytvořit} {$storeOutDisabled}</strong> *}
                    {*/if*}
                </div>
            </div>
        </div>
    </div>
{/if}

{if isset($unMoHandler['status']) && $unMoHandler['status'] == TRUE && $unMoHandler["id_modal"] == 'createInvoiceModal'}
    <!-- Large modal -->
    <div id="createInvoiceModal" class="modal fade" tabindex="-1" role="dialog" >
        <div class="modal-dialog modalMyEmail"  >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabelFromOff">{_Vytvořit_fakturu_ze_zakázky}</h4>
                </div>
                <div class="panel-body">
                    {*var $invoiceDisabled = $presenter->invoiceDisabled()*}
		            {*if !$invoiceDisabled*}
                        {snippet itemsForInvoice}
                            <strong>Položky</strong>
                        {control listgridItemsSelSelect, $presenter->filterInvoiceUsed}
                            <strong>Práce</strong>
                        {control listgridWorksSelect, $presenter->filterInvoiceUsed}

                            <div class="mySeparator2">
                            </div>
                            <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" onclick="$('#createInvoiceModal').modal('hide');">{_Zpět}</button>
                            </div>
                            {*<div class="col-md-2">
                                {if count($presenter->filterInvoiceUsed) == 0}
                                    <a n:href="showInvoiceNotUsed!" class="btn btn-primary" title={_Zobrazí jen položky a práce které nebyly doposud vloženy do faktury} data-history="false">{_Nepoužité}</a>
                                {else}
                                    <a n:href="showInvoiceUsed!" class="btn btn-primary" title={_Zobrazí všechny položky a práce tedy i ty které už byly vloženy do faktury} data-history="false" >{_Použité}</a>
                                {/if}
                            </div>*}
                            <div class="col-md-3">
                                <button id="commissionToInvoice" data-newinvoice="1" type="button" class="btn btn-success" title={_"Z_vybraných_položek_a_práce_vytvoří_fakturu"}>{_Nová_faktura}</button>
                            </div>
                            <div class="col-md-3">
                                <button id="commissionToInvoice" data-newinvoice="0" type="button" class="btn btn-success" title={_"Vybranými_položkami_a_prací_zaktualizuje_fakturu"}>{_Aktualizovat_fakturu}</button>
                            </div>
                        </div>
                        {/snippet}
                    {*else*}
                        {*<strong>{_Fakturu není možno vytvořit} {$invoiceDisabled}</strong>*}
                    {*/if*}
                </div>
            </div>
        </div>
    </div>
{/if}
    <!-- Large modal -->
{if isset($unMoHandler['status']) && $unMoHandler['status'] == TRUE && $unMoHandler["id_modal"] == 'createInvoiceAdvanceModal'}
    <div id="createInvoiceAdvanceModal" class="modal fade" tabindex="-1" role="dialog" >
        <div class="modal-dialog modalMyEmail"  >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabelFromOff">{_Vytvořit_zálohovou_fakturu_ze_zakázky}</h4>
                </div>
                <div class="panel-body">
                    {*var $invoiceDisabled = $presenter->invoiceDisabled()*}
		            {*if !$invoiceDisabled*}
                        {snippet itemsForInvoiceAdvance}
                        <strong>Položky</strong>
                        {control listgridItemsSelSelect, $presenter->filterInvoiceUsed}
                        <strong>Práce</strong>
                        {control listgridWorksSelect, $presenter->filterInvoiceUsed}

                        <div class="mySeparator2">
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" onclick="$('#createInvoiceAdvanceModal').modal('hide');">{_Zpět}</button>
                            </div>
                            {*<div class="col-md-2">
                                {if count($presenter->filterInvoiceUsed) == 0}
                                    <a n:href="showInvoiceNotUsed!" class="btn btn-primary" title={_Zobrazí jen položky a práce které nebyly doposud vloženy do faktury} data-history="false">{_Nepoužité}</a>
                                {else}
                                    <a n:href="showInvoiceUsed!" class="btn btn-primary" title={_Zobrazí všechny položky a práce tedy i ty které už byly vloženy do faktury} data-history="false" >{_Použité}</a>
                                {/if}
                            </div>*}
                            <div class="col-md-3">
                                <button id="commissionToInvoiceAdvance" data-newinvoice="1" type="button" class="btn btn-success" title={_"Z_vybraných_položek_a_práce_vytvoří_zálohovou_fakturu"}>{_Nová_zálohová_faktura}</button>
                            </div>
                            <div class="col-md-3">
                                <button id="commissionToInvoiceAdvance" data-newinvoice="0" type="button" class="btn btn-success" title={_"Vybranými_položkami_a_prací_zaktualizuje_zálohovou_fakturu"}>{_Aktualizovat_zálohovou_fakturu}</button>
                            </div>
                        </div>
                    {/snippet}
                    {*else*}
                        {*<strong>{_Fakturu není možno vytvořit} {$invoiceDisabled}</strong>*}
                    {*/if*}
                </div>
            </div>
        </div>
    </div>
{/if}


    <script type="application/json" id="commissionconfig">
	{
	"getWorkerTaxlink": {link getWorkerTax!},
	"createStoreOut": {link createStoreOut!},
	"createInvoice": {link createInvoice!},
	"createInvoiceAdvance": {link createInvoiceAdvance!},
	"createStoreOutUpdate": {link createStoreOutUpdate!},
	"redirectStoreOut": {plink :Application:Store:default id=>NULL},
	"redirectInvoice": {plink :Application:Invoice:default id=>NULL}
	}
    </script>
{/snippet}



{snippet pairedDocs2}
    {control pairedDocs} <!--- $data->id --->
{/snippet}