{block #content}
{include '../headerlogin.latte'}

    <div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
	    <div class="panel panel-primary">
		    <div class="panel-heading">B2B - Trynx</div>
		    <div class="panel-body">
		    {include '../flash.latte'}			
		    {form signInForm id=>"login", class=>"form-horizontal"}
			<p>{$welcomeMessage} </p><br>			
			{control $form errors}			
			<div class="form-group">
			    <div class="col-md-10 col-md-offset-1">
				{input email}
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-md-10 col-md-offset-1">
				{input password}
			    </div>
			</div>
			<div class="form-group">			    
			    <div class="col-md-10 col-md-offset-1">
				{input submit}
			    </div>
			</div>
			<div class="form-group">			    
			    <div class="col-md-10 col-md-offset-1 checkbox">
				<label>{input remember}</label>
			    </div>
			</div>
		    {/form}
		    </div><!--panel-body-->		    
	    </div><!--panel-primary-->
	</div>
	<div class="col-sm-4">
	</div>
    </div>
    <div class="row">
	<div class="col-sm-4 col-sm-offset-4">
	    <p class="mainLoginSmall">
		<a href={plink :B2B:LostPassword:default} title={_zapomenuté_heslo}>{_ztracené_heslo}</a>
	    <br><br>
	    </p>
	</div>
	<div class="col-sm-4">
	</div>	
    </div>



{include '../footer.latte'}