<h2>{$data['greeting']} {$data['userName']},</h2>
{_tento_email_Vám_přišel_proto_že_jste_požádal_o_změnu_hesla_Heslo_můžete_změnit_po_kliknutí_na_tento_odkaz}<br>
<a href="{$baseUrl}{$data['confirmLink']}">{$baseUrl}{$data['confirmLink']}</a>
<br><br>
{_tým_Klienticz}