<script type="application/json" id="configMain">
{
				"baseUrl": {$baseUrl},
                "newPartnerUrl": {plink :Application:Partners:default, do=>'new', modal=>3},
				"menuBadgeUpdateUrl": {link menuBadgeUpdate!},
                "newData": "",
                "progressUpdateUrl": {link progressUpdate!},
                "showCommentUrl": {link showComment!}
  }
</script>