

{if $bscOff == FALSE}
    {*snippetArea bscArea*}
        {include '../../../templates/baseListchild.latte'}
    {*/snippetArea*}
    {*snippet emailControl*}
    {*control email*}
    {*/snippet*}
    {snippet textUseControl}
        {control textsUse}
    {/snippet}
{/if}


</div> <!--- end of <div class="panel panel-default"> --->
