Předmět: "Subject"
Vyžadováno: "Required"
Zpráva_pro_technickou_podporu: "Message for technical support"
Vaše_zpráva: "Your message"
Přidat_aktuální_snímek_obrazovky: "Send actual screenshot"
Přidat_soubory: "Upload files"
připojit_snímek_obrazovky: "Take screenshot"
Odeslat_zprávu: "Send message"
The_size_of_the_uploaded_file_can_be_up_to_%d_bytes.: "Size of uploaded file could be max. %d bytes."
Můžete_nahrát_maxmálně_%d_soubory: "You can upload max. %d files"
Maximální_velikost_je_3MB: "Maximum file size is 3MB"
podpora: "support"
Povoleny_jsou_pouze_následující_typy_souborů: "Allowed file types are only GIF, JPG, PNG, txt, xls, doc, zip, rar"
Vaše_zpráva_byla_odeslána_Odpovíme_Vám_co_nejdříve_to_bude_možné: "Your message was send. We will respond as soon as possible."
Došlo_k_chybě: "Error occured."
Připojovaný_soubor_není_požadovaného_typu: "Attached file has unsupported type."
Název: "Title"