Předmět: "Předmět"
Vyžadováno: "Vyžadováno"
Zpráva_pro_technickou_podporu: "Zpráva pro technickou podporu"
Vaše_zpráva: "Vaše zpráva"
Přidat_aktuální_snímek_obrazovky: "Přidat aktuální snímek obrazovky"
Přidat_soubory: "Přidat soubory"
připojit_snímek_obrazovky: "připojit snímek obrazovky"
Odeslat_zprávu: "Odeslat zprávu"
The_size_of_the_uploaded_file_can_be_up_to_%d_bytes.: "Velikost nahrávaného souboru může být max. %d bytů."
Můžete_nahrát_maxmálně_%d_soubory: "Můžete nahrát maximálně %d soubory"
Maximální_velikost_je_3MB: "Maximální velikost je 3MB"
podpora: "podpora"
Povoleny_jsou_pouze_následující_typy_souborů: "Povoleny jsou pouze následující typy souborů GIF, JPG, PNG, txt, xls, doc, zip, rar"
Vaše_zpráva_byla_odeslána_Odpovíme_Vám_co_nejdříve_to_bude_možné: "Vaše zpráva byla odeslána. Odpovíme Vám co nejdříve to bude možné."
Došlo_k_chybě: "Došlo k chybě."
Připojovaný_soubor_není_požadovaného_typu: "Připojovaný soubor není požadovaného typu"
Název: "Název"