{layout '@error.latte'}
{block error}
	<div class="content-403">
		<div class="title">403</div>
		<div class="description">Nemáte práva pro zobrazení této stránky. Pokud jste přesvědčeni, že používáte správný odkaz a měl by Vám být přístup povolen, obraťte se na správce stránek.</div>
	</div>
{/block}