{layout '@error.latte'}
{block error}
	<div class="content-404">
		<div class="title">404</div>
		<div class="description">Stránka, kterou hledáte neexistuje, nebo je v současnosti nedostupná. Zkuste použít správný odkaz, nebo přejděte na <a href="https://klienti.cz">úvodní stránku</a>.</div>
	</div>
{/block}
