{layout '@error.latte'}
{block error}
	<div class="content-410">
		<div class="title">410</div>
		<div class="description">Stránka, kterou hledáte byla ze serveru odstraněna. Přejděte na <a href="https://klienti.cz">úvodní stránku</a>.</div>
	</div>
{/block}
