{layout '@error.latte'}
{block error}
	<div class="content-4xx">
		<div class="title">jejda...</div>
		<div class="description">Váš prohlížeč odeslal požadavek, kterému server nerozumí nebo jej neumí zpracovat. Raději přejděte na <a href="https://klienti.cz">úvodní stránku</a>.</div>
	</div>
{/block}
