{snippet configMain}
<script type="application/json" id="configMain">
		{
				"baseUrl": {$baseUrl},
				"menuBadgeUpdateUrl": {link menuBadgeUpdate!},
                "progressUpdateUrl": {link progressUpdate!},
                "scrollTopUrl": {link scrollTop!},
                "scrollBottomUrl": {link scrollBottom!}
		}
</script>
{/snippet}