    <div class="row ">
	<div class="col-sm-4  col-sm-offset-4">
	    <p class="text-center copyright"><a href="https://klienti.cz/">&#169; 2015-2022 (2H C.S. s.r.o.)</a></p>
	</div>
    </div>


</div>
</div>