<div class="bg" style="background-image:url({$basePath}/images/omni/content/Home-1/banner_1my.jpg);">
</div>
<div class="bg-span"></div>
<div class="mainLogin">
    <div class="container center-vertical">
        <div class="row loginlogo">
            <div class="col-sm-12 text-center">
                <a href="{plink :Front:Homepage:default}"><img class="hidden-xs hidden-sm" src="{$basePath}/images/klienti-slogan 400x127.png" title="Klienti.cz - mějte úspěch pod kontrolou" >
                    <img class="visible-xs visible-sm" src="{$basePath}/images/klienti-slogan 250x79.png" title="Klienti.cz - mějte úspěch pod kontrolou" >
                </a>
            </div>

        </div>
        <div class="row mySeparator2">
        </div>

