{block #content}

{if $partner}
    <div class="container">    

	<div class="row mySeparator">
	</div>
	<div class="row mySeparator2">
	</div>
	<div class="row">
	    <div class="col-md-12">
	    <p class="text-center">
		{_Požadavek byl odeslán na helpdesk.}
	    </p>
	    </div>
	</div>
	<div class="row mySeparator">
	</div>
	<div class="row mySeparator2">
	</div>	
	
	
    </div>
{else}
    {_Přístup není povolen}
{/if}