        {*control itemslistgrid*}

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {form editNext  class=>'', data-validation-mode=>"live" }
                    {control $form errors}
                    {label description class=>"control-label"/}
                    {input description class=>"form-control input-sm  trumbowyg-edit"}
                    {*input send*}
                {/form}
            </div>
        </div>
    </div>
