<h2>{$data['greeting']} {$data['userName']},</h2>
tento email Vám přišel proto, že jste požádali o změnu hesla. Heslo můžete změnit po kliknutí na tento odkaz: <br>
<a href="{$baseUrl}{$data['confirmLink']}">{$baseUrl}{$data['confirmLink']}</a>
<br><br>
tým Klienti.cz