
{layout '../@article.latte'}
{block title}
	Cenové tarify | Trynx
{/block}
{block description}
	Již od 0 Kč / měsíc. V našich cenových tarifech si každý najde tu svou variantu. 
{/block}
{block keywords}ceník,tarif,faktury,klienti,sklad,helpdesk{/block}
{block #content}
                            <div class="blog-post detail-post">

                                <div class="data">
                                    <div class="text">

                                        <div class="blog-post-hat-center-align">
                                            <h1 class="title">Tarify a ceny</h1>

                                            <div class="blog-article-description">

											</div>												
                                        </div>
                                        
                                        <div class="blog-detail-article">


<!-- Pricing Tables - START -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Start</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>0 Kč <br> uživatel/měsíc</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Uživatelé / Firmy: 1 / 1
                    </li>
                    <li class="list-group-item">
                        Klienti / Ceník: 10 / 50
                    </li>
                    <li class="list-group-item">
                        Soubory: 100MB
                    </li>					
                    <li class="list-group-item">
                        Faktury, Zakázky
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>					
                    <li class="list-group-item">
                        Sklad
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>	
                    <li class="list-group-item">
                        Objednávky
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>						
                    <li class="list-group-item">
                        Heldpesk, Všeználek
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>									
                    <li class="list-group-item">
                        Technická podpora
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>				
                    <li class="list-group-item">
                        Napojení na 2HCS Fakturace 4
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>						

                </ul>
                <div class="panel-footer">
                    <a href={plink :Login:NewRegistration:default} class="btn btn-lg btn-block btn-success">Registrovat</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                 <div class="panel-heading">
                    <h4 class="text-center">Podnikatel</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>160 Kč <br> uživatel/měsíc</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Uživatelé / Firmy: 4 / 2
                    </li>
                    <li class="list-group-item">
                        Klienti / Ceník: 2500 / 2500
                    </li>
                    <li class="list-group-item">
                        Soubory: 500MB
                    </li>					
                    <li class="list-group-item">
                        Faktury, Zakázky
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>					
                    <li class="list-group-item">
                        Sklad
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>	
                    <li class="list-group-item">
                        Objednávky
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>						
                    <li class="list-group-item">
                        Heldpesk, Všeználek
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>									
                    <li class="list-group-item">
                        Podpora do 24 hodin
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>				
                    <li class="list-group-item">
                        Napojení na 2HCS Fakturace 4
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>						

                </ul>
                <div class="panel-footer">
                    <a href={link :Application:UserOrder: tariff=>1} class="btn btn-lg btn-block btn-info">Objednat</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Servis</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>250 Kč <br> uživatel/měsíc</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Uživatelé / Firmy: 4 / 2
                    </li>
                    <li class="list-group-item">
                        Klienti / Ceník: 2500 / 2500
                    </li>
                    <li class="list-group-item">
                        Soubory: 500MB
                    </li>		
                    <li class="list-group-item">
                        Faktury, Zakázky
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>					
                    <li class="list-group-item">
                        Sklad
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>	
                    <li class="list-group-item">
                        Objednávky
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>						
                    <li class="list-group-item">
                        Heldpesk, Všeználek
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>									
                    <li class="list-group-item">
                        Podpora do 24 hodin
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>				
                    <li class="list-group-item">
                        Napojení na 2HCS Fakturace 4
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </li>						

                </ul>
                <div class="panel-footer">
                    <a href={link :Application:UserOrder: tariff=>2} class="btn btn-lg btn-block btn-primary">Objednat</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="text-center">Max</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>350 Kč <br> uživatel / měsíc</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        Uživatelé / Firmy: 50 / 50
                    </li>
                    <li class="list-group-item">
                        Klienti / Ceník: 5000 / 5000
                    </li>
                    <li class="list-group-item">
                        Soubory: 1.000MB
                    </li>		
                    <li class="list-group-item">
                        Faktury, Zakázky
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>					
                    <li class="list-group-item">
                        Sklad
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>	
                    <li class="list-group-item">
                        Objednávky
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>						
                    <li class="list-group-item">
                        Heldpesk, Všeználek
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>									
                    <li class="list-group-item">
                        Podpora do 12 hodin
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>				
                    <li class="list-group-item">
                        Napojení na 2HCS Fakturace 4
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </li>						

                </ul>
                <div class="panel-footer">
                    <a href={link :Application:UserOrder: tariff=>3} class="btn btn-lg btn-block btn-danger">Objednat</a>
                </div>
            </div>
        </div>		
		
    </div>
</div>
<!-- Pricing Tables - END -->	

                                        </div>

										<div class="separator"><p><hr></p></div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="tags-container">
                                                    <div class="tags-title">Témata</div>
													<a href="firmy" title="Firmy a uživatelé">firmy</a>
                                                    <a href="zakazky" title="Evidence zakázek">zakázky</a>
                                                    <a href="sklad" title="Skladová evidence">sklad a objednávky</a>													
													<a href="fakturace" title="Jednoduchá a správná fakturace">fakturace</a>
                                                    <a href="helpdesk" title="Helpdesk a technická podpora uživatelů">helpdesk pro každého</a>
													<a href="klienti" title="Vaši klienti">klienti</a>													
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
