{block #content}

{if $modal}
    <div class="containerMyModal">
{else}
    <div class="containerMy">    
{/if}
    <div class="row mySeparator">
    </div>
    <div class="row mySeparator">
    </div>

{snippetArea baselistArea}
    {include '../../../templates/@baseList.latte'}
{/snippetArea}

</div>
